/* questionCard.css */

/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-grey-white: #f7f6ee;
    --color-light-grey: #bfbfbf;
    --color-grey: #949494;
    --color-rich-Burgundy: #7b1e3a;
    --color-light-yellow: #fffec3;
    --color-Soft-Gold: #daa49a;
    --color-Creamy-Beige: #ead2ac;
    --color-Dark-Charcoal: #333333;
    --color-Vintage-Olive: #587d71;
    --color-black: #000000;
    /* Font Size */
    --font-large: 40px;
    --font-medium: 22px;
    --font-regular: 15px;
    --font-small: 12px;
    --font-micro: 10px;
    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-border-radius: 4px;
    /* Animation Duration */
    --animation-duration: 300ms;
  }

  /* questionCard.css */

.question-card {
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px; /* Adds space between cards if stacked */
    text-align: center; /* Centers the text */
  }
  
  .question-card p {
    font-size: var(--font-regular);
    color: var(--color-Dark-Charcoal);
  }
  
  .question-card button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: var(--color-rich-Burgundy);
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    border-radius: var(--size-border-radius);
    cursor: pointer;
    transition: background-color var(--animation-duration);
  }
  
  .question-card button:hover {
    background-color: var(--color-Soft-Gold);
  }
  