/* Global styles */
:root {
  /* Define your color scheme and other variables */
  --color-white: #ffffff;
  --color-grey-white: #f7f6ee;
  --color-light-grey: #bfbfbf;
  --color-grey: #949494;
  --color-rich-Burgundy: #7b1e3a;
  --color-light-yellow: #fffec3;
  --color-Soft-Gold: #daa49a;
  --color-Creamy-Beige: #ead2ac;
  --color-Dark-Charcoal: #333333;
  --color-Vintage-Olive: #587d71;
  --color-black: #000000;
  /* Font Size */
  --font-large: 40px;
  --font-medium: 22px;
  --font-regular: 15px;
  --font-small: 12px;
  --font-micro: 10px;
  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
  /* Animation Duration */
  --animation-duration: 300ms;
}

.question-card {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.question-card:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.question-text {
  font-size: var(--font-regular);
  color: var(--color-Dark-Charcoal);
  margin-bottom: 20px; /* Spacing between question and buttons */
}

.question-buttons,
.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Provides space between buttons */
}

.answer-button,
.nav-button,
.submit-button {
  background-color: var(--color-rich-Burgundy);
  color: var(--color-white);
  border: 2px solid transparent; /* For a nice transition to the hover state */
  padding: 15px 30px;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 10px;
  border-radius: var(--size-border-radius);
  cursor: pointer;
  transition: background-color var(--animation-duration),
    border-color var(--animation-duration), color var(--animation-duration);
  text-transform: uppercase; /* Stylish uppercase text */
  letter-spacing: 1px; /* Increase letter-spacing for a modern look */
}

.answer-button:hover,
.nav-button:hover,
.submit-button:hover,
.answer-button:focus,
.nav-button:focus,
.submit-button:focus {
  background-color: var(--color-Soft-Gold);
  color: var(--color-Dark-Charcoal);
  border-color: var(
    --color-Dark-Charcoal
  ); /* Add a border color on hover for a defined look */
}

.submit-button {
  background-color: var(--color-Vintage-Olive);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--color-Creamy-Beige);
  color: var(--color-black);
  border-color: var(--color-black);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .answer-button,
  .nav-button,
  .submit-button {
    padding: 10px 20px;
    font-size: var(--font-small);
  }
}

@media (max-width: 480px) {
  .answer-button,
  .nav-button,
  .submit-button {
    padding: 8px 16px;
    font-size: var(--font-micro);
  }
}
